/* BROWSER RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
/* START OF EXERCISE */
:root {
    --yellow: rgb(250, 239, 140);
    --blue: rgb(23, 65, 180);
    --red: rgb(202, 63, 39);
}
div {
    border: 1px black solid;
    background-color: rgb(196, 222, 255);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.artboard {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 70vw;
}
.column-1 {
    display: flex;
    flex: 1;
}
.column-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.column-3 {
    display: flex;
    flex: 1;
}
/* START OF MIDDLE COLUMN */
.column-2-row-1 {
    display: flex;
    height: 50%;
}
.column-2-row-2 {
    display: flex;
    height: 50%;
}
.column-2-row-1-column-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex: 1;
}
.blah {
    height: 60%;
    display: flex;
    flex-direction: column;
}
.column-2-row-1-column-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex: 1;
}
.column-2-row-1-column-1-item-1 {
    flex: 1;
    background-color: var(--yellow);
}
.column-2-row-1-column-1-item-2 {
    flex: 2;
    background-color: var(--yellow);
}
.column-2-row-1-column-1-item-3 {
    display: flex;
    flex-direction: row;
    height: 40%;
}
.column-2-row-1-column-1-item-3-sub-1 {
    flex: 1;
    width: 50%;
    background-color: white;
}
.column-2-row-1-column-1-item-3-sub-2 {
    flex: 1;
    background-color: white;
}
.column-2-row-1-column-2-item-1 {
    flex: 2;
    background-color: var(--blue);
}
.column-2-row-1-column-2-item-2 {
    flex: 2;
    background-color: var(--red);
}
.column-2-row-1-column-2-item-3 {
    flex: 1;
    background-color: white;
}

/* quadrant 5 */
.column-2-row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column-2-row-2-column-1, .column-2-row-2-column-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.column-2-row-2-column-1-item-1 {
    flex: 1;
    background-color: white;
}
.column-2-row-2-column-1-item-2 {
    flex: 2;
    background-color: var(--blue);
}
.column-2-row-2-column-1-item-3 {
    flex: 2;
    background-color: var(--red);
}
.column-2-row-2-column-2-row-1 {
    display: flex;
    height: 40%;
}
.column-2-row-2-column-2-row-1-item-1, .column-2-row-2-column-2-row-1-item-2 {
    flex: 1;
    background-color: white;
}
.column-2-row-2-column-2-row-2 {
    display: flex;
    height: 40%;
    background-color: var(--yellow);
}
.column-2-row-2-column-2-row-3 {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: var(--red);
}
.column-2-row-2-column-2-row-3-item-1 {
    flex: 1;
    background-color: white;
}
.column-2-row-2-column-2-row-3-item-2 {
    flex: 1;
    background-color: black;
}
/* END OF MIDDLE COLUMN */