/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* START OF CSS */
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.chessboard {
    height: 480px;
    width: 480px;
    border: 1px black solid;
    margin: 0 auto;
    box-sizing: content-box;
}
.row {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
}
.row-reverse {
    display: flex;
    height: 60px;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.square-1 {
    background-color: #ffe9bf;
    border: 1px black solid;
    flex: 1;
}
.square-2 {
    background-color: #e4b45b;
    border: 1px black solid;
    flex: 1;
}